<?xml version="1.0" encoding="UTF-8"?>
<!-- 登录窗体界面 -->
<beans xmlns="http://www.springframework.org/schema/beans" 
    	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	         xmlns:context="http://www.springframework.org/schema/context"
	         xmlns:util="http://www.springframework.org/schema/util"
	         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		                                       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		                                       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    <!--  登录模态界面 -->
	<bean id="loginDialgView" class="com.examw.test.imports.view.UserLoginDialog">
	    <constructor-arg index="0" ref="mainFrameView" /><!-- 设置主窗体 -->
	    <constructor-arg index="1" value="${login_title}"/><!-- 标题 -->
	    <constructor-arg index="2" value="${login_width}" /><!-- 宽度 -->
	    <constructor-arg index="3" value="${login_height}" /><!-- 高度 -->
	    <!-- 布局管理 -->
	    <property name="layout">
	        <bean class="java.awt.BorderLayout" />
	    </property>
	    <!-- 成员控件 -->
	    <property name="members">
	        <map>
	            <entry key="Center"><!-- 账号密码输入区域 -->
	                <bean class="com.examw.test.imports.view.ContentPanel">
	                    <constructor-arg>
	                        <bean class="java.awt.GridLayout">
	                            <property name="rows" value="2" />
	                            <property name="columns" value="1" />
	                            <property name="hgap" value="5" />
	                            <property name="vgap" value="2" />
	                        </bean>
	                    </constructor-arg>
	                    <property name="memberList">
	                        <list>
	                            <bean class="com.examw.test.imports.view.ContentPanel">
	                                <constructor-arg>
				                        <bean class="java.awt.FlowLayout" />
				                    </constructor-arg>
				                    <property name="memberList">
				                        <list>
					                        <bean class="javax.swing.JLabel">
			                                    <constructor-arg index="0" value="${login_username_title}" />
			                                    <constructor-arg index="1">
							                        <util:constant static-field="javax.swing.JLabel.RIGHT"/>
							                    </constructor-arg>
							                    <property name="preferredSize">
							                         <bean class="java.awt.Dimension">
							                             <constructor-arg index="0" value="75" />
							                             <constructor-arg index="1" value="30" />
							                         </bean>
							                    </property>
			                             	</bean> 
			                                <ref local="loginUsername" />
		                                </list>
				                     </property>
	                            </bean>
	                            <bean class="com.examw.test.imports.view.ContentPanel">
	                                <constructor-arg>
				                        <bean class="java.awt.FlowLayout" />
				                    </constructor-arg>
				                    <property name="memberList">
				                        <list>
					                        <bean class="javax.swing.JLabel">
			                                    <constructor-arg index="0" value="${login_password_title}" />
			                                    <constructor-arg index="1">
							                        <util:constant static-field="javax.swing.JLabel.RIGHT"/>
							                    </constructor-arg>
							                    <property name="preferredSize">
							                         <bean class="java.awt.Dimension">
							                             <constructor-arg index="0" value="75" />
							                             <constructor-arg index="1" value="30" />
							                         </bean>
							                    </property>
			                             	</bean> 
			                                <ref local="loginPassword" />
		                                </list>
				                     </property>
	                            </bean>
	                        </list>
	                    </property>
	                </bean>
	            </entry>
	            <entry key="South"><!--  按钮区域 -->
	                <bean class="javax.swing.JButton">
                          <constructor-arg type="String" value="${login_submit_title}" />
                          <property name="model"><!-- 按钮动作处理 -->
                              <bean class="com.examw.test.imports.view.model.UserLoginButtonModel">
                                  <property name="usernameField" ref="loginUsername" /><!-- 用户名 -->
                                  <property name="passwordField" ref="loginPassword" /><!-- 用户密码 -->
                                  <property name="loginDialog" ref="loginDialgView" /><!-- 登录窗口 -->
                                  <property name="mainFrame" ref="mainFrameView" /><!-- 主窗体 -->
					  		<property name="userAuthentication" ref="userAuthentication" /><!-- 用户鉴权 -->
                              </bean>
                          </property>
                      </bean>
	            </entry>
	        </map>
	    </property>
	    <property name="closeDialogTitle" value="${login_close_title}" /><!-- 关闭窗口时对话框标题 -->
	    <property name="closeDialogMessage" value="${login_close_message}" /> <!-- 关闭窗口时对话框内容 -->
	</bean>
	<!-- 登录用户名输入框 -->
	<bean id="loginUsername" class="javax.swing.JTextField">
	    <constructor-arg type="int" value="15"/>
	    <property name="toolTipText" value="${login_username_toolTip}" />
	</bean>
	<!-- 登录用户密码输入框 -->
	<bean id="loginPassword" class="javax.swing.JPasswordField">
	    <constructor-arg type="int" value="15"/>
	    <property name="toolTipText" value="${login_password_toolTip}" />
	</bean>
</beans>