<?xml version="1.0" encoding="UTF-8"?>
<!-- 工作区域 -->
<beans xmlns="http://www.springframework.org/schema/beans" 
    	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	         xmlns:context="http://www.springframework.org/schema/context"
	         xmlns:util="http://www.springframework.org/schema/util"
	         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		                                       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		                                       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <!-- 主界面工作区域 -->
	<bean id="mainWorkspace" class="com.examw.test.imports.view.ContentPanel">
	    <constructor-arg>
	        <bean class="java.awt.BorderLayout" />
	    </constructor-arg>
	    <property name="memberMap">
	        <map>
	            <entry key="North">
	                <ref local="examInfoArea" />
	            </entry>
	            <entry key="Center">
	                <bean class="com.examw.test.imports.view.TabbedContentPanel">
	                    <property name="document" ref="sourceDocument" />
	                    <property name="textComponents">
	                        <list>
	                            <ref local="workspaceHtmlArea"/>
	                        </list>
	                    </property>
	                    <property name="tabs">
	                        <map>
	                            <entry key="源代码">
	                                <bean class="javax.swing.JScrollPane">
							          <constructor-arg>
							             <ref local="workspaceSourceArea"/>
							          </constructor-arg>
							       </bean>
	                            </entry>
	                            <entry key="HTML">
	                                <bean class="javax.swing.JScrollPane">
	                                    <constructor-arg>
	                                        <ref local="workspaceHtmlArea"/>
	                                    </constructor-arg>
	                                </bean>
	                            </entry>
	                            <entry key="上传格式">
	                                <bean class="javax.swing.JScrollPane">
							          <constructor-arg>
							             <ref local="uploadTextArea"/>
							          </constructor-arg>
							       </bean>
	                            </entry>
	                        </map>
	                    </property>
	                </bean>
	            </entry>
	        </map>
	    </property>
	</bean>
    <!-- 题库信息区域 -->
     <bean id="examInfoArea" class="com.examw.test.imports.view.ContentPanel">
         <constructor-arg>
           <bean class="com.examw.test.imports.view.EnhancedFlowLayout">
               <constructor-arg type="int">
                   <util:constant static-field="java.awt.FlowLayout.LEFT"/>
               </constructor-arg>
           </bean>
       </constructor-arg>
       <property name="memberList">
           <list>
               <bean class="javax.swing.JLabel">
		            <constructor-arg index="0" value="${main_workspace_exam}" /><!--  所属考试 -->
		            <constructor-arg index="1">
		                <util:constant static-field="javax.swing.JLabel.RIGHT"/>
		            </constructor-arg>
		            <property name="preferredSize">
		                 <bean class="java.awt.Dimension">
		                     <constructor-arg index="0" value="${main_workspace_label_width}" />
		                     <constructor-arg index="1" value="${main_workspace_label_height}" />
		                 </bean>
		            </property>
		         </bean>
		         <bean class="javax.swing.JComboBox">
		             <constructor-arg>
		                 <ref local="examComboBoxModel"/>
		             </constructor-arg>
		             <property name="preferredSize">
		                 <bean class="java.awt.Dimension">
		                     <constructor-arg index="0" value="${main_workspace_combobox_width}" />
		                     <constructor-arg index="1" value="${main_workspace_combobox_height}" />
		                 </bean>
		             </property>
		             <property name="renderer">
		                 <bean class="com.examw.test.imports.view.KeyValueCellRenderer" />
		             </property>
		          </bean>
		          <bean class="javax.swing.JLabel">
		            <constructor-arg  index="0" value="${main_workspace_paper}" /><!-- 所属试卷 -->
		             <constructor-arg index="1">
		                <util:constant static-field="javax.swing.JLabel.RIGHT"/>
		            </constructor-arg>
		            <property name="preferredSize">
		                 <bean class="java.awt.Dimension">
		                     <constructor-arg index="0" value="${main_workspace_label_width}" />
		                     <constructor-arg index="1" value="${main_workspace_label_height}" />
		                 </bean>
		            </property>
		         </bean>
		         <bean class="javax.swing.JComboBox">
		             <constructor-arg>
		                 <ref local="paperComboBoxModel"/>
		             </constructor-arg>
		             <property name="preferredSize">
		                 <bean class="java.awt.Dimension">
		                     <constructor-arg index="0" value="${main_workspace_combobox_width}" />
		                     <constructor-arg index="1" value="${main_workspace_combobox_height}" />
		                 </bean>
		             </property>
		             <property name="renderer">
		                 <bean class="com.examw.test.imports.view.KeyValueCellRenderer" />
		             </property>
		         </bean>
				<bean class="javax.swing.JLabel">
				 <constructor-arg index="0" value="${main_workspace_paper_structure}" /><!-- 试卷结构 -->
				   <constructor-arg index="1">
				       <util:constant static-field="javax.swing.JLabel.RIGHT"/>
				   </constructor-arg>
				   <property name="preferredSize">
				        <bean class="java.awt.Dimension">
				            <constructor-arg index="0" value="${main_workspace_label_width}" />
				            <constructor-arg index="1" value="${main_workspace_label_height}" />
				        </bean>
				   </property>
				</bean>
	          <bean class="javax.swing.JComboBox">
	             <constructor-arg>
	                  <ref local="paperStructureComboBoxModel" />
	              </constructor-arg>
	             <property name="preferredSize">
	                 <bean class="java.awt.Dimension">
	                     <constructor-arg index="0" value="${main_workspace_combobox_width}" />
	                     <constructor-arg index="1" value="${main_workspace_combobox_height}" />
	                 </bean>
	             </property>
	              <property name="renderer">
	                 <bean class="com.examw.test.imports.view.KeyValueCellRenderer" />
	             </property>
	         </bean>
	         <!-- 题型 -->
	         <ref local="itemTypePanel"/>
           </list>
       </property>
     </bean>
      <!--所属考试下拉处理模型 -->
     <bean id="examComboBoxModel" class="com.examw.test.imports.view.model.ExamComboBoxModel">
         <property name="examRemoteDataService" ref="clientService" />
         <property name="paperOPService" ref="paperComboBoxModel" />
     </bean>
     <!-- 所属试卷下拉处理模型 -->
     <bean id="paperComboBoxModel" class="com.examw.test.imports.view.model.PaperComboBoxModel">
         <property name="paperRemoteDataService" ref="clientService" />
         <property name="paperStructureOPService" ref="paperStructureComboBoxModel" />
     </bean>
     <!-- 所属试卷结构下拉处理模型 -->
     <bean id="paperStructureComboBoxModel" class="com.examw.test.imports.view.model.PaperStructureComboBoxModel">
         <property name="paperStructureRemoteDataService" ref="clientService" />
         <property name="itemTypeOPService" ref="itemTypePanel" />
     </bean>
     <!--  题型面板 -->
     <bean id="itemTypePanel" class="com.examw.test.imports.view.ItemTypePanel">
         <property name="itemTypeService" ref="clientService" /><!-- 加载题型服务 -->
         <property name="memberList">
             <list>
                 <bean class="javax.swing.JLabel">
		            <constructor-arg  index="0" value="所属题型：" /><!-- 所属题型 -->
		             <constructor-arg index="1">
		                <util:constant static-field="javax.swing.JLabel.RIGHT"/>
		            </constructor-arg>
		            <property name="preferredSize">
		                 <bean class="java.awt.Dimension">
		                     <constructor-arg index="0" value="${main_workspace_label_width}" />
		                     <constructor-arg index="1" value="${main_workspace_label_height}" />
		                 </bean>
		            </property>
		         </bean>
             </list>
         </property>
     </bean>
     <!-- 源码文本模型 -->
     <bean id="sourceDocument" class="javax.swing.text.PlainDocument" />
      <!-- 源码文本工作区域 -->
      <bean id="workspaceSourceArea"  class="javax.swing.JTextArea">
          <property name="lineWrap" value="false" /><!-- 自动换行 -->
          <property name="border">
              <bean class="com.examw.test.imports.view.LineNumberBorder" />
          </property>
          <property name="document" ref="sourceDocument" />
          <property name="componentPopupMenu"><!-- 右键菜单 -->
              <bean class="com.examw.test.imports.view.PopupMenu">
                  <property name="items">
                      <list>
                          <bean class="javax.swing.JMenuItem">
		                      <constructor-arg type="String" value="${main_workspace_right_selectall}" /><!--全选 -->
		                      <property name="accelerator">
		                          <bean class="javax.swing.KeyStroke" factory-method="getKeyStroke">
		                              <constructor-arg type="Character" value="A" />
		                              <constructor-arg type="int">
		                                  <util:constant static-field="java.awt.event.InputEvent.CTRL_MASK"/>
		                              </constructor-arg>
		                          </bean>
		                      </property>
		                      <property name="model">
		                          <bean class="com.examw.test.imports.view.model.RightMenuSelectAllModel">
		                              <constructor-arg ref="workspaceSourceArea" />
		                          </bean>
		                      </property>
		                  </bean>
		                  <bean class="javax.swing.JPopupMenu.Separator" /><!-- 分隔 -->
		                  <bean class="javax.swing.JMenuItem">
		                      <constructor-arg type="String" value="${main_workspace_right_copy}" /><!--复制 -->
		                      <property name="accelerator">
		                          <bean class="javax.swing.KeyStroke" factory-method="getKeyStroke">
		                              <constructor-arg type="Character" value="C" />
		                              <constructor-arg type="int">
		                                  <util:constant static-field="java.awt.event.InputEvent.CTRL_MASK"/>
		                              </constructor-arg>
		                          </bean>
		                      </property>
		                      <property name="model">
		                          <bean class="com.examw.test.imports.view.model.RightMenuCopyModel">
		                              <constructor-arg ref="workspaceSourceArea" />
		                          </bean>
		                      </property>
		                  </bean>
		                  <bean class="javax.swing.JMenuItem">
		                      <constructor-arg type="String" value="${main_workspace_rignt_paste}" /><!--粘贴 -->
		                      <property name="accelerator">
		                          <bean class="javax.swing.KeyStroke" factory-method="getKeyStroke">
		                              <constructor-arg type="Character" value="V" />
		                              <constructor-arg type="int">
		                                  <util:constant static-field="java.awt.event.InputEvent.CTRL_MASK"/>
		                              </constructor-arg>
		                          </bean>
		                      </property>
		                      <property name="model">
		                          <bean class="com.examw.test.imports.view.model.RightMenuPasteModel">
		                              <constructor-arg ref="workspaceSourceArea" />
		                          </bean>
		                      </property>
		                  </bean>
		                  <bean class="javax.swing.JMenuItem">
		                      <constructor-arg type="String" value="${main_workspace_right_cut}" /><!--剪切 -->
		                      <property name="accelerator">
		                          <bean class="javax.swing.KeyStroke" factory-method="getKeyStroke">
		                              <constructor-arg type="Character" value="X" />
		                              <constructor-arg type="int">
		                                  <util:constant static-field="java.awt.event.InputEvent.CTRL_MASK"/>
		                              </constructor-arg>
		                          </bean>
		                      </property>
		                     <property name="model">
		                          <bean class="com.examw.test.imports.view.model.RightMenuCutModel">
		                              <constructor-arg ref="workspaceSourceArea" />
		                          </bean>
		                      </property>
		                  </bean>
                  		  <bean class="javax.swing.JPopupMenu.Separator" /><!-- 分隔 -->
                  		  <bean class="javax.swing.JMenuItem">
		                      <constructor-arg type="String" value="${main_workspace_right_format}" /><!--格式化 -->
		                      <property name="accelerator">
		                          <bean class="javax.swing.KeyStroke" factory-method="getKeyStroke">
		                              <constructor-arg type="Character" value="F" />
		                              <constructor-arg type="int">
		                                  <util:constant static-field="java.awt.event.InputEvent.CTRL_MASK"/>
		                              </constructor-arg>
		                          </bean>
		                      </property>
		                      <property name="model">
		                          <bean class="com.examw.test.imports.view.model.RightMenuFormatModel">
		                              <constructor-arg ref="workspaceSourceArea" />
		                              <property name="itemTypeOPService" ref="itemTypePanel" />
		                              <property name="formats" ref="sourceContentFormats" />
		                              <property name="uploadFormatComponent" ref="uploadTextArea" />
		                          </bean>
		                      </property>
		                  </bean>
                      </list>
                  </property>
              </bean>
          </property>
      </bean>
      <!-- Html区域 -->
      <bean id="workspaceHtmlArea" class="javax.swing.JTextPane">
          <property name="border">
              <bean class="com.examw.test.imports.view.LineNumberBorder" />
          </property>
          <property name="contentType" value="text/html" />
          <property name="editable" value="false" />
      </bean>
      <!-- 上传格式区域 -->
      <bean id="uploadTextArea"  class="javax.swing.JTextArea">
          <property name="lineWrap" value="true" /><!-- 自动换行 -->
          <property name="border">
              <bean class="com.examw.test.imports.view.LineNumberBorder" />
          </property>
          <property name="componentPopupMenu">
              <bean class="com.examw.test.imports.view.PopupMenu">
                  <property name="items">
                      <list>
		                  <bean class="javax.swing.JMenuItem">
		                      <constructor-arg type="String" value="${main_workspace_right_upload}" /><!--上传 -->
		                      <property name="accelerator">
		                          <bean class="javax.swing.KeyStroke" factory-method="getKeyStroke">
		                              <constructor-arg type="Character" value="U" />
		                              <constructor-arg type="int">
		                                  <util:constant static-field="java.awt.event.InputEvent.CTRL_MASK"/>
		                              </constructor-arg>
		                          </bean>
		                      </property>
		                      <property name="model">
		                          <bean class="com.examw.test.imports.view.model.RightMenuUploadModel">
		                              <constructor-arg ref="uploadTextArea" />
		                              <property name="paperOPService" ref="paperComboBoxModel" />
		                              <property name="paperStructureOPService" ref="paperStructureComboBoxModel" />
		                              <property name="warningTitle" value="${right_menu_upload_warning_title}" />
		                              <property name="noSelectPaperMessager" value="${right_menu_upload_noselect_paper_messager}" />
		                              <property name="noSelectPaperStructureMessager" value="${right_menu_upload_noselect_paper_structure_messager}" />
		                              <property name="preview" ref="uploadPreviewDialog" />
		                          </bean>
		                      </property>
		                  </bean>
	                  </list>
                  </property>
              </bean>
          </property>
      </bean>
      <!-- 源内容格式化 -->
      <util:map id="sourceContentFormats">
          <entry key="${sign_choice_format_value}"><!-- 单选题格式化 -->
              <bean class="com.examw.test.imports.service.impl.SingleChoiceFormat" />
          </entry>
          <entry key="${multy_choice_format_value}"><!-- 多选题格式化 -->
              <bean class="com.examw.test.imports.service.impl.MultyChoiceFormat" />
          </entry>
          <entry key="${uncertain_choice_format_value}"><!-- 不定向选择格式化 -->
              <bean class="com.examw.test.imports.service.impl.UncertainChoiceFormat" />
          </entry>
          <entry key="${judge_format_value}"><!-- 判断题格式化 -->
              <bean class="com.examw.test.imports.service.impl.JudgeFormat" />
          </entry>
          <entry key="${qanda_format_value}"><!-- 问答题格式化 -->
              <bean class="com.examw.test.imports.service.impl.QandaFormat" />
          </entry>
          <entry key="${share_title_format_value}"><!-- 共享提干题格式化 -->
              <bean class="com.examw.test.imports.service.impl.ShareTitleFormat" />
          </entry>
          <entry key="${share_answer_format_value}"><!-- 共享答案题格式化 -->
              <bean class="com.examw.test.imports.service.impl.ShareAnswerFormat" />
          </entry>
      </util:map>
      <!-- 上传预览文本模型 -->
     <bean id="uploadPreviewDocument" class="com.examw.test.imports.view.model.UploadPreviewDocument">
         <property name="itemHtmlPreviews" ref="sourceContentFormats" />
         <property name="broadcastUpdate" ref="uploadPreview_tabbedContentPanel" />
     </bean>
      <!-- 上传阅览界面 -->
      <bean id="uploadPreviewDialog" class="com.examw.test.imports.view.UploadContentDialog">
           <constructor-arg index="0" ref="mainFrameView" /><!-- 依附的主窗体 -->
            <constructor-arg index="1" value="试题上传"/><!-- 标题 -->
	    	<constructor-arg index="2" value="600" /><!-- 宽度 -->
	    	<constructor-arg index="3" value="400" /><!-- 高度 -->
		    <property name="layout"><!-- 布局管理 -->
		        <bean class="java.awt.BorderLayout" />
		    </property>
		    <property name="uploadItemPreview" ref="uploadPreviewDocument" />
	    	<property name="members"><!-- 成员控件 -->
	    	    <map>
	    	        <entry key="Center"><!-- 预览区域 -->
	    	            <ref local="uploadPreview_tabbedContentPanel" />
	    	        </entry>
	    	        <entry key="South"><!-- 按钮区域 -->
	    	            <bean class="com.examw.test.imports.view.ContentPanel">
	    	                <constructor-arg>
		                        <bean class="java.awt.FlowLayout" />
		                    </constructor-arg>
		                    <property name="memberList">
		                        <list>
			                        <bean class="javax.swing.JButton">
			                            <constructor-arg type="String" value="上一题" />
			                            <property name="model">
			                                <bean class="com.examw.test.imports.view.model.UploadItemPreviewModel">
			                                    <constructor-arg index="0" ref="uploadPreviewDialog" />
			                                    <constructor-arg index="1" ref="uploadPreviewDocument" />
			                                </bean>
			                            </property>
			                        </bean>
			                         <bean class="javax.swing.JButton">
			                            <constructor-arg type="String" value="上传题目" />
			                            <property name="model">
			                                <bean class="com.examw.test.imports.view.model.UploadItemModel">
			                                    <constructor-arg index="0" ref="uploadPreviewDialog" />
			                                    <constructor-arg index="1" ref="uploadPreviewDocument" />
			                                    <constructor-arg index="2" ref="clientService" />
			                                </bean>
			                            </property>
			                        </bean>
			                         <bean class="javax.swing.JButton">
			                            <constructor-arg type="String" value="下一题" />
			                            <property name="model">
			                                <bean class="com.examw.test.imports.view.model.UploadItemPreviewModel">
			                                    <constructor-arg index="0" ref="uploadPreviewDialog" />
			                                    <constructor-arg index="1" ref="uploadPreviewDocument" />
			                                    <constructor-arg index="2" value="true" />
			                                </bean>
			                            </property>
			                        </bean>
		                        </list>
		                    </property>
	    	            </bean>
	    	        </entry>
	    	    </map>
	    	</property>
      </bean>
      <!-- uploadPreview -->
      <bean id="uploadPreview_tabbedContentPanel" class="com.examw.test.imports.view.TabbedContentPanel">
             <property name="document" ref="uploadPreviewDocument" />
             <property name="contentBroadcast" ref="uploadPreviewDocument" />
             <property name="textComponents">
                 <list>
                     <ref local="uploadPreviewHtmlArea"/>
                 </list>
             </property>
             <property name="tabs">
                <map>
                    <entry key="HTML">
                        <bean class="javax.swing.JScrollPane">
                            <constructor-arg>
                                <ref local="uploadPreviewHtmlArea"/>
                            </constructor-arg>
                        </bean>
                    </entry>
                    <entry key="源代码">
                        <bean class="javax.swing.JScrollPane">
					        <constructor-arg>
					            <bean class="javax.swing.JTextArea"><!-- 上传预览源代码 -->
							          <property name="lineWrap" value="true" /><!-- 自动换行 -->
							          <property name="border">
							              <bean class="com.examw.test.imports.view.LineNumberBorder" />
							          </property>
							          <property name="document" ref="uploadPreviewDocument" />
								</bean>
					        </constructor-arg>
					     </bean>
                    </entry>
                </map>
            </property>
      </bean>
      <!-- 上传预览Html -->
      <bean id="uploadPreviewHtmlArea" class="javax.swing.JTextPane">
          <property name="border">
              <bean class="com.examw.test.imports.view.LineNumberBorder" />
          </property>
          <property name="contentType" value="text/html" />
          <property name="editable" value="false" />
      </bean>
</beans>