<?xml version="1.0" encoding="UTF-8"?>
<!-- 主界面顶部菜单 -->
<beans xmlns="http://www.springframework.org/schema/beans" 
    	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	         xmlns:context="http://www.springframework.org/schema/context"
	         xmlns:util="http://www.springframework.org/schema/util"
	         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		                                       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		                                       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
		                                       
    <!-- 主界面顶部菜单 -->
	<bean id="mainTopMenu" class="com.examw.test.imports.view.MenuBars">
		<property name="menus">
               <list>
                   <bean class="com.examw.test.imports.view.Menu">
                       <constructor-arg value="${main_top_filemenu}" />
                       <property name="mnemonic">
                           <util:constant static-field="java.awt.event.KeyEvent.VK_F"/>
                       </property>
                       <property name="items">
                           <list>
                               <bean class="javax.swing.JMenuItem">
                                   <constructor-arg value="${main_top_imports}" />
                                   <property name="model">
                                       <bean class="com.examw.test.imports.view.model.TopMenuImportsModel">
                                           <property name="textArea" ref="workspaceTextArea" />
                                           <property name="dialogTitle" value="导入试题" />
                                       </bean>
                                   </property>
                               </bean>
                           </list>
                       </property>
                   </bean>
               </list>
           </property>
	</bean>
</beans>